html{
    min-height: 100%;
}
body{
    font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    background: linear-gradient(0deg,#1a7979, #31918c, #c0d8d7);
    /* overflow: hidden; */
    

}

.row{
    margin-top:2%;
    /* margin-bottom: auto; */
    margin-left: 2%;
    margin-right: 2%;
    /* margin-bottom: %; */  
}

#inner{
    margin-top:10px;
}

#question{
    margin-top:1.5%;
    font-size:1.5vw;
    color:white;
    
}

#two{
    
    /* min-height:auto; */
    min-height: auto;
    /* border:1px solid white; */
    
    
}
input{
    width: 50%;
    height: 100%;
    border:none;
    outline:none;
    background: inherit;
    font-size:2vw;
    border-bottom: 2px solid #058d97;
    margin-top:4%;
    color:white;
    /* text-transform: uppercase; */

}

#responsive{
    display: block;
    width:100%;
    max-width: 25vw;
    /* min-width: 6vw; */
    max-height:45%;
    /* margin-left:auto; */
    margin-right: auto;
    /* border:1px solid #15f4ee; */
    padding:0.3vw;
    background: linear-gradient(215deg,#000000, #0c4441, #066e6b);
    
}



::-ms-input-placeholder { /* Microsoft Edge */
    color: white;
   }

#btn{
    width:40%;
    padding:1.5%;
    margin-top:4%;
    margin-bottom: 3.5%;
    background: inherit;
    color:#76d3da;
    border:2px solid #058d97;
    font-style: unset;
    letter-spacing: 2%;
    font-size:100%;
    text-transform: uppercase;
    transition: 0.6s; 
    border-radius: 50px;
    outline: none;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */

}

#btn:hover{
    box-shadow: 0 5px 30px 0 #36aab3 inset, 0 5px 30px 0 #36aab3,0 5px 50px 0 #36aab3 inset, 0 5px 30px 0 #36aab3;
    text-shadow: 0  0 5px black,0 0  5px black;
 
}

#inner{
    margin-top: 15px;
    /* margin-bottom:0px; */
}

#countdown{
    margin:0px;
    /* padding:100px; */
    font-size:7vw;
    text-align: center;
    /* padding:5%; */
    color:white;
    /* font-family: Copperplate, "Copperplate Gothic Light"; */
    font-family: 'Orbitron', sans-serif;
}

footer{
    background-color:  rgba(0,0,0,1);
    font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    font-size: 1.25rem;
    text-align: center;
    }


@media screen and (min-width:768px){
    #one{
        border-top-left-radius:30px;
        border-bottom-left-radius:30px;
    }

    #two{
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
    }
}


@media screen and (max-width:767.9px){
    #one{
        border-top-left-radius:30px;
        border-top-right-radius: 30px;
    }

    #two{
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
    }
    #question{
        font-size:17px;
        text-align: justify;
        margin: 1px;
        margin-top:1%;
        
    }
    
    input{
        font-size:17px;
        width: 70%;
    }
    #countdown{
        padding:3%;
    }

    #responsive{
        margin-top: 2%;
        max-width: 60vw;
        margin-left: auto;
        margin-right: auto;
    }
    
    #btn{
        margin-bottom: 10%;
    }

    footer{
        margin-top:10px;
    }

    #field{
        display: flex;
        justify-content: center;
    }

}


