html{
    min-height: 100%;
}
body{
    font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    background: url('quiz.PNG') no-repeat;
    width: 100%;
    
    background-position: center;
    background-size: cover;
    /* overflow: hidden; */
    /* font-family: 'IM Fell DW Pica', serif; */
    /* font-family: 'BenchNine', sans-serif; */
    font-family: 'Gruppo', cursive;
    /* letter-spacing: 1px; */
    position: relative;        
    min-height: 100%;        
    padding-bottom: 14rem; 
    

}

.row{
    margin-top:2%;
    margin-left: 2%;
    margin-right: 2%;
}


#question{
    margin-top:15px;
    font-size:1.3vw;
    color:white;
    
}

#one{
    background-color: rgb(18, 84, 95);
    opacity: 0.9;
}

#two{
    min-height: auto;
    background-color: rgb(18, 84, 95);
    opacity: 0.9;
}

a.abs{
    text-decoration: none;
    color:white;
    font-size:18px;
    
}

input{
    width: 50%;
    height: 100%;
    border:none;
    outline:none;
    background: inherit;
    font-size:2vw;
    border-bottom: 2px solid #000000;
    margin-top:4%;
    color:white;
}

#responsive{
    display: block;
    /* width:100%; */
    max-width: 20vw;
    max-height:100%;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding:0.2vw;
    background: linear-gradient(215deg,#012d35, #000000, #56747c);
}

#btn{
    width:40%;
    padding:1.5%;
    margin-top:4%;
    margin-bottom: 3.5%;
    background: #000000;
    color:#ffffff;
    border:2px solid #000000;
    font-style: unset;
    letter-spacing: 2%;
    font-size:100%;
    text-transform: uppercase;
    transition: 0.6s; 
    border-radius: 50px;
    outline: none;
    font-weight: bold;
    
}

#btn:hover{
    box-shadow: 0 5px 30px 0 #2a738a inset, 0 5px 30px 0 #2a738a,0 5px 50px 0 #2a738a inset, 0 5px 30px 0 #2a738a;
    text-shadow: 0  0 2px black,0 0  5px black;
}

#inner{
    margin-top: 15px;
    /* background: linear-gradient(45deg,#ac8165, #436797, #435896); */
    width: 100%;
}

#countdown{
    margin:0px;
    font-size:7vw;
    text-align: center;
    color:rgb(255, 255, 255);
    /* font-family: 'Orbitron', sans-serif; */
    /* font-family: 'IM Fell DW Pica', serif; */
    /* font-family: 'Life Savers', cursive; */
    font-family: 'JetBrains Mono', monospace;
    
}

.fixed-bottom{
        position: fixed;
        right: 0;
        bottom: 0;
        left:0;
        z-index: 1030;
        margin-top: 10px;
    }

@media screen and (min-width:768px){
    #one{
        border-top-left-radius:30px;
        border-bottom-left-radius:30px;
    }

    #two{
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
    }
}


@media screen and (max-width:767.9px){
    #one{
        border-top-left-radius:30px;
        border-top-right-radius: 30px;
    }

    #two{
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
    }
    #question{
        font-size:17px;
        text-align: justify;
        margin: 1px;
        margin-top:1%;
        
    }
    
    input{
        margin-top: 10%;
        font-size:17px;
        width: 80%;
    }
    #countdown{
        padding:3%;
    }

    #responsive{
        margin-top: 2%;
        max-width: 60vw;
        margin-left: auto;
        margin-right: auto;
    }
    
    #btn{
        margin-bottom: 10%;
    }

    .fixed-bottom{
        margin-top: 10px;
    }

    #field{
        display: flex;
        justify-content: center;
    }


}


