html{
    min-height: 100%;
}
body{
    /* font-family: Copperplate, "Copperplate Gothic Light";
    font-variant: small-caps;  */
    font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    /* background-color: #ffffff; */
    background: linear-gradient(0deg,#47d6d6, #a1f7f2, #c0d8d7);
    

}

.row{
    margin-top:5%;
    margin-left: 2%;
    margin-right: 2%;
    /* box-shadow:0 0 20px 7px #058d97; */
    
}


#question{
    margin-top: 1%;
    font-size:2vw;
    color:white;
    
}

#two{
    
    min-height:auto;
    min-height: auto;
    
    
}
input{
    width: 50%;
    height: 100%;
    border:none;
    outline:none;
    background: inherit;
    font-size:2vw;
    border-bottom: 2px solid #058d97;
    margin-top:6%;
    color:white;
    /* text-transform: uppercase; */

}

#responsive{
    display: block;
    width:100%;
    max-width: 25vw;
    /* min-width: 6vw; */
    max-height:40%;
    margin-left:auto;
    margin-right: auto;
    /* border:1px solid #15f4ee; */
    padding:0.3vw;
    background: linear-gradient(215deg,#000000, #0c4441, #0ca09b);
    
}



::-ms-input-placeholder { /* Microsoft Edge */
    color: white;
   }

#btn{
    width:40%;
    padding:1.5%;
    margin-top:7%;
    margin-bottom: 10%;
    background: inherit;
    color:#76d3da;
    border:2px solid #058d97;
    font-style: unset;
    letter-spacing: 2%;
    font-size:100%;
    text-transform: uppercase;
    transition: 0.6s; 
    border-radius: 50px;
    outline: none;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */

}

#btn:hover{
    box-shadow: 0 5px 30px 0 #36aab3 inset, 0 5px 30px 0 #36aab3,0 5px 50px 0 #36aab3 inset, 0 5px 30px 0 #36aab3;
    text-shadow: 0  0 5px black,0 0  5px black;
 
}

#inner{
    margin-top: 15px;
    margin-bottom: 15px;
}

#countdown{
    margin:0px;
    /* padding:100px; */
    font-size:9vw;
    text-align: center;
    padding:10%;
    color:white;
    font-family: Copperplate, "Copperplate Gothic Light";
    /* margin-top:15px; */
    /* border:1px solid black; */
    
}


/* @media  screen and  (max-device-width : 768px) {
    #question{
        font-size:7px;
        color:blue
    }
} */

@media screen and (min-width:768px){
    #one{
        border-top-left-radius:30px;
        border-bottom-left-radius:30px;
    }

    #two{
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
    }
}


@media screen and (max-width:767.9px){
    #one{
        border-top-left-radius:30px;
        border-top-right-radius: 30px;
    }

    #two{
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
    }
    #question{
        font-size:17px;
    }
    
    input{
        font-size:17px;
    }
    #countdown{
        font-family: Copperplate, "Copperplate Gothic Light";

    }
}

/* @media screen and (min-width:992px){
    #question{
        font-size: 25px;
    }

    #input{
        font-size: 30px;
    }
    #two{
        min-height: 300px;
    }
}

@media screen and (max-width:991px){
    #question{
        font-size: 17px;
    }

    #input{
        font-size: 17px;
    }

    #two{
        min-height: 530px;
    }
}

@media screen and (max-width:767px){
    #question{
        font-size: 15px;
    }

    #input{
        font-size: 15px;
    }

    #two{
        min-height: 550px;
    }
} */

  
  
  /* @media screen and (max-width: 991.5px) {
    #question{
        text-align:justify;
        margin-top:3%;
        font-size: 15px;
        color:blue;   
    }

    input{
        font-size:15px;
        margin-top:30px;
    }

    #btn{
        font-size: 15px;
        letter-spacing: 1px;
        margin-bottom: 20px;
    }

    #countdown{
        font-size: 80px;
    }

  }  */
